.newsSection {
  width: 100%;
  border: 2px dashed black;
  display: flexbox;
  flex-direction: column;
}

.articlePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articleSection {
  margin-right: 60px;
  margin-left: 60px;
}

.articleHeadline {
  width: 400px;
  display: flex;
  flex-direction: column;
}
.articleHeadline h1 {
  text-align: center;
  margin: 0px;
  padding: 20px 0px 0px 0px;
}

.articleHeadline h3 {
  text-align: right;
  margin: 0px;
  padding: 0px 0px 20px 0px;
}

.newsArticle {
  margin-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-bottom: dashed rgb(131, 131, 131) 2px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.newsTitle {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.newsIcon {
  width: 30px;
  height: 30px;
  background-size: contain;
  background: rgb(201, 0, 103);
}

.newsHeadline {
  width: 100%;
  color: white;
  background-color: rgb(96, 96, 96);
  height: 30px;
  font-family: monospace;
  font-size: larger;
  padding: 5px 10px 0px 10px;
}

.newsMainC {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.newsVideo {
  width: 90%;
}

.newsPic {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
}

.newsMain {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-size: medium;
  padding: 10px 0px 10px 0px;
  color: black;
  width: 350px;
  float: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.newsButton {
  margin: 20px;
  background: rgba(255, 255, 255, 0);
  border: 0px;
}

.newsPreview {
  display: flex;
}

button:focus {
  outline: none;
}

.newsType {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.newsType img {
  margin-right: 4px;
  width: 15px;
}

.newsPrevPic {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.newsPrevPic img {
  height: 120px;
  border-radius: 10px;
}

.newsButton img {
  width: 40px;
  border-radius: 6px;
  border: 2px black solid;
}

.moreNews {
  padding: 8px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .newsMain {
    display: flex;
    flex-wrap: wrap;
  }
  .articleSection {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 18px;
  }
  .articleHeadline {
    width: 100%;
  }
}
